#map_cafe_detail_container {
  position: absolute;
  width: 100vw;
  height: 25vh;
  bottom: 0;
  left: 0;
  z-index: 1005;
  background: white;
  box-shadow: 0px 0px 10px #0000006E;
  border-radius: 15px 15px 15px 15px ;
  transition: all ease .05s 0s;
  opacity: 1;
}

html, body{
  overscroll-behavior: contain;

}

.container__adjust_height_box {
  position: relative;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 1.5vh;
}

.adjust_height_box__bar {
  position: relative;
  display: inline-block;
  background-color:gray;
  width: 5vw;
  height: 1vw;
  border-radius: 1vw 1vw 1vw 1vw ;
  opacity: 0.5;
}

.container__cafe_info_box {
  position: absolute;
  top: 3vh;
  padding-left: 3vw;
}

.cafe_info_box__cafe_info {
  width: 100%;
  display: flex;
  position: relative;
}

.cafe_info__datas {
  margin-left: 10px;
}

.datas__name {
  font-size: 1.5em;
}

.datas__sub_datas {
  font-size: 1.0em;
  font-weight: lighter;
}

.cafe_info_box__cafe_img {
  position: absolute;
  width: 8em;
  height: 8em;
  transform: translate(67vw, -1vw);
  z-index: 100;
}

.de_vi__content_group {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.de_vi__content_group1 {
  width: 85vw;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: relative;
  top: 15vh;
  left: 10vw;
}

