

@media (orientation: portrait) {
    /* Portrait 모드일 때 적용할 CSS */
    .nav_group {
        width: 100vw;
        height: 12vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        border-top: solid 1px #DEE0DF;
        background-color: #FFFFFF;
        z-index: 100;
    }

    .nav_img {
        width: 4vh;
        height: 4vh;
    }
}

@media (orientation: landscape) {
    /* Landscape 모드일 때 적용할 CSS */
}