

@media (orientation: portrait) {
    /* Portrait 모드일 때 적용할 CSS */
    .nav_group {
        width: 100vw;
        height: 12vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        border-top: solid 1px #DEE0DF;
        background-color: #fff;
    }
    .nav__mypage {
        width: 31px;
        height: 31px;
        border: solid 1px;
        border-radius: 30px;
        padding: 2px;
    }
    #my_img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    .nav_img {
        width: 30px;
        height: 30px;
    }
}

@media (orientation: landscape) {
    /* Landscape 모드일 때 적용할 CSS */
}