.hash_tag {
    width: 100vw;
    height: 10vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img {
    width: 100vw;
    height: 40vh;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thingthing {
    width: 100vw;
    height: 9vh;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
}