.home__header {
    @apply flex shadow-sm
    
    
}
.header_logo {

}
.header_review_icon {

}
.home__content {

}
.hash_tag {
    width: 100vw;
    height: 10vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.hash_tag_filter {
    display: flex;
    list-style: none;
    justify-content: space-between;
    overflow-x: scroll;
}*/
.hash_tag_filter::-webkit-scrollbar {
    display: none;
}
.filter_item {
    
}
.filter {
    @apply hidden;
    
}


.filter:checked + .border {
    background-color: #ECEBEB;
}

